langchain
python-dotenv
ipykernel
Langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
requests
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain-chroma
langchain-openai
streamlit
langchain_core
langchain_groq
fastapi
uvicorn
LangServe 